body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* responsive */

@media (max-width:477px){

  body{
      width: 1380px;
      zoom: 26%;  
  }
}
@media (max-width:1390px){

  body{
      width: 1380px;
  }
}

@media (max-width:1700px){

  body{
      width: 1380px;
      zoom: 110%;
  }
}

@media (min-width:1700px){

  body{
      width: 1380px;
      zoom: 112%;
  }
}
